body {

}
ul {
	list-style-type: none;
}
#web-component-select {
	margin-top: 35px;
	margin-bottom: 50px;
}
#select-civ {
	margin-bottom: 25px;
}
#select-compon {
	margin-bottom: 25px;
}
#button-one-name {
	margin-bottom: 20px;
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
#single-result-text p {
	font-size: 50px;
	margin-bottom: 150px;
}
#single-result-text p {
	font-size: 50px;
	margin-bottom: 150px;
}
#many-result ul li {
	list-style-type: none;
	text-decoration: none;
}
#many-result ul li a {
	list-style: none;
	text-decoration: none;
}
.panel-body {
	text-align: center;
}